<?xml version="1.0" encoding="utf-8"?>
<!-- EN-Revision: 3f75f75dcf86e42bc79d5753836fee49ea6a97be Maintainer: Fan2Shrek Status: ready -->
<!-- Reviewed: yes -->

<row>
  <entry>web.background</entry>
  <entry>inclut une image de fond dans la sortie</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.loadImages</entry>
  <entry>inclut des images dans la sortie</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.enableJavascript</entry>
  <entry>active ou désactive javascript</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.enableIntelligentShrinking</entry>
  <entry>active l'essaie de mettre plus de contenu sur la page, s'applique uniquement à la sortie PDF</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.minimumFontSize</entry>
  <entry>la taille de police minimale autorisée</entry>
  <entry>9</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.printMediaType</entry>
  <entry>affiche le contenu en utilisant le type de média d'impression au lieu du type de média d'écran</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.defaultEncoding</entry>
  <entry>le contenu à utiliser lorsque aucun encodage n'est spécifié</entry>
  <entry>utf-8</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.userStyleSheet</entry>
  <entry>URL ou chemin vers une feuille de style utilisateur spécifiée</entry>
  <entry>/path/to/style.css</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.enablePlugins</entry>
  <entry>active ou désactive les plugins NS</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
