 <chapter id="configuration">
  <title>Configuration</title>
  <sect1 id="configuration.file">
   <title>Le fichier de configuration</title>
   <simpara>
     Le fichier de configuration (appel&eacute; <filename>php3.ini</filename>
     dans la version 3.0 du PHP, et simplement <filename>php.ini</filename>
     dans la version 4.0) est lu par le PHP au d&eacute;marrage. Si vous
     avez compil&eacute; PHP en module, le fichier n'est lu qu'une seule
     fois, au lancement du d&eacute;mon HTTP. Pour la version
     <acronym>CGI</acronym> le fichier est lu &agrave; chaque invocation.
   </simpara>
   <simpara>
     Lorsque vous utilisez le module Apache vous pouvez aussi changer
     les param&egrave;tres de configurations en utilisant les directives
     dans les fichiers de configuration d'Apache et dans les fichiers
     <filename>.htaccess</filename>.
   </simpara>
   <simpara>
     Dans la version 3.0, &agrave; chaque directive de configuration
     pr&eacute;sente dans le fichier de configuration d'Apache correspond
     une directive de configuration dans le fichier
     <filename>php3.ini</filename> &agrave; l'exception des directives
     pr&eacute;fix&eacute;es par "php3_".
   </simpara>
   <simpara>
     Dans la version 4.0, il n'y a seulement que quelques directives
     dans le fichier de configuration d'Apache qui vous permettent de
     modifier la configuration de PHP.
   </simpara>
   <variablelist>
    <varlistentry>
     <term>
       <systemitem role="directive">php_value</systemitem>
       <parameter>name</parameter>
       <parameter>value</parameter>
      </term>
      <listitem>
       <para>
        Cette directive affecte une valeur &agrave; la variable
        sp&eacute;cifi&eacute;e.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry>
      <term>
       <systemitem role="directive">php_flag</systemitem>
       <parameter>name</parameter>
       <parameter>on|off</parameter>
      </term>
      <listitem>
       <para>
        Cette directive est utilis&eacute;e pour activer ou
        d&eacute;sactiver une option.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry>
      <term>
       <systemitem role="directive">php_admin_value</systemitem>
       <parameter>name</parameter>
       <parameter>value</parameter>
      </term>
      <listitem>
       <para>
         Cette directive affecte une valeur &agrave; la variable
         sp&eacute;cifi&eacute;e. La directive "Admin" ne peut &ecirc;tre
         utilis&eacute;e que dans le fichier de configuration d'Apache, et
         non dans un fichier <filename>.htaccess</filename>.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry>
      <term>
       <systemitem role="directive">php_admin_flag</systemitem>
       <parameter>name</parameter>
       <parameter>on|off</parameter>
      </term>
      <listitem>
       <para>
        Cette directive est utilis&eacute;e pour activer ou d&eacute;sactiver l'option pr&eacute;c&eacute;dente.
	</para>
      </listitem>
     </varlistentry>
    </variablelist>
   <simpara>
     Vous pouvez voir l'&eacute;tat de votre configuration en utilisant
     la fonction <function>phpinfo</function>. Vous pouvez aussi
     acc&eacute;der aux valeurs de votre configuration de mani&egrave;re
      individuelle en utilisant la fonction <function>get_cfg_var</function>.
   </simpara>
   <sect2 id="ini.sect.general">
    <title>Directives de configuration g&eacute;n&eacute;rale</title>
     <variablelist>
	 <varlistentry id="ini.allow-url-fopen">
	   <term>
		<parameter>allow_url_fopen</parameter>
		<type>boolean</type>
	   </term>
	   <listitem>
		<para>
		  Cette option autorise les acc&egrave;s au r&eacute;seau des fonctions
		  <function>fopen</function>. Par d&eacute;faut, l'acc&egrave;s est autoris&eacute; aux
		  proc&eacute;dures d'<link linkend="features.remote-files">acc&egrave;s distants</link>,
		  avec les protocoles FTP, HTTP, et certaines extensions telles ques zlib.
		</para>
		<note>
		 <para>
		   Cette option a &eacute;t&eacute; introduite imm&eacute;diatement apr&egrave;s la version 4.0.3.
		   Pour les versions jusqu'&agrave; la 4.0.3 inclus, vous pouvez d&eacute;sactiver cette
		   fonctionnalit&eacute; au moment de la compilation en utilisant la configuration
		   <link linkend="install.configure.disable-url-fopen-wrapper"><parameter>--disable-url-fopen-wrapper</parameter></link>.
         </para>
		</note>
	   </listitem>
	  </varlistentry>
	  <varlistentry id="ini.asp-tags">
	   <term>
		<parameter>asp_tags</parameter>
		<type>bool&eacute;en</type>
	   </term>
	   <listitem>
		<para>
		 Active l'utilisation des balises de type ASP &lt;% %&gt;, en plus des
		 traditionnelles balises &lt;?php ?&gt; . Cela inclus l'utilisation du raccourcis
		 &lt;%= $value %&gt;. Pour plus d'informations, reportez vous &agrave;
		 <link linkend="language.basic-syntax.phpmode">inclusion dans le HTML</link>.
		</para>
		<note>
		 <para>Le support des balises ASP a &eacute;t&eacute; ajout&eacute; dans la version 3.0.4.
		</para>
		</note>
	   </listitem>
	  </varlistentry>
      <varlistentry id="ini.auto-append-file">
       <term>
	    <parameter>auto_append_file</parameter>
	    <type>cha&icirc;ne de caract&egrave;res</type>
       </term>
       <listitem>
	    <para>
	     Sp&eacute;cifie le nom d'un fichier qui sera automatiquement ajout&eacute;
	     apr&egrave;s le fichier principal. Le fichier est inclus comme si il avait
	     &eacute;t&eacute; appel&eacute; avec la fonction <function>include</function>,
         donc <link linkend="ini.include-path">include_path</link> est utilis&eacute;.
        </para>
	    <para>
	     Le mot r&eacute;serv&eacute; <systemitem class="constant">NONE</systemitem>
         d&eacute;sactive l'auto-appending.
        </para>
	    <note>
	     <para>
	      Si le script s'arr&ecirc;te par la fonction <function>exit</function>,
          auto-append <emphasis>ne fonctionnera pas</emphasis>.
         </para>
	    </note>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.auto-prepend-file">
       <term>
	    <parameter>auto_prepend_file</parameter>
	    <type>cha&icirc;ne de caract&egrave;res</type>
       </term>
       <listitem>
	    <para>
         Sp&eacute;cifie le nom d'un fichier qui sera automatiquement ajout&eacute;
         avant le fichier principal. Le fichier est inclus comme si il avait
         &eacute;t&eacute; appel&eacute; avec la fonction <function>include</function>,
         donc <link linkend="ini.include-path">include_path</link> est utilis&eacute;.
        </para>
	    <para>
  	     Le mot r&eacute;serv&eacute; <systemitem class="constant">NONE</systemitem>
  	     d&eacute;sactive l'auto-appending.
 	    </para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.cgi-ext">
       <term>
	    <parameter>cgi_ext</parameter>
	    <type>cha&icirc;ne de caract&egrave;res</type>
       </term>
       <listitem>
	<para>
	(NDT : aucune documentation n'est fournie).
	</para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.display-errors">
       <term>
	<parameter>display_errors</parameter>
	<type>bool&eacute;en</type>
       </term>
       <listitem>
	<para>
Cette directive d&eacute;termine si les erreurs doivent &ecirc;tre affich&eacute;es &agrave; l'&eacute;cran
au format HTML ou non.
	</para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.doc-root">
       <term>
	<parameter>doc_root</parameter>
	<type>string</type>
       </term>
       <listitem>
	<para>
	 Le dossier racine de PHP. Utilis&eacute;e uniquement si elle est d&eacute;finie.
Si PHP est configur&eacute; en <link linkend="ini.safe-mode">safe mode</link>,
aucun fichier en dehors de ce dossier ne sera accessible.
	</para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.engine">
       <term>
	<parameter>engine</parameter>
	<type>boolean</type>
       </term>
       <listitem>
	<para>
	Cette directive ne sert vraiment que si PHP est un module Apache.
	Elle sert aux sites qui veulent activer ou d&eacute;sactiver l'analyse des fichiers
	par PHP, dossier par dossier. En mettant <userinput>php3_engine off</userinput>
	au bon endroit, dans le fichier <filename>httpd.conf</filename>, PHP peut &ecirc;tre
	activ&eacute; ou desactiv&eacute;.
	</para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.error-log">
       <term>
	<parameter>error_log</parameter>
	<type>string</type>
       </term>
       <listitem>
	<para>
	 Nom du fichier o&uacute; les erreurs seront enregistr&eacute;es. Si la valeur sp&eacute;ciale
	<literal>syslog</literal> est utilis&eacute;e, les erreurs sont envoy&eacute;es au syst&egrave;me
	standard d'historique. Sous UNIX, c'est syslog(3) et sous Windows NT c'est
	l'historique d'&eacute;v&eacute;nements. L'historique syst&egrave;me n'est pas support&eacute; sous
	Windows 95.</para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.error-reporting">
       <term>
	<parameter>error_reporting</parameter>
	<type>integer</type>
       </term>
       <listitem>
	<para>
	Fixe le niveau d'erreur. Ce param&egrave;tre est un entier, repr&eacute;sentant un
	champs de bits. Ajoutez les valeurs suivantes pour choisir le niveau
	que vous d&eacute;sirez :
	 <table>
	  <title>Niveau de rapport d'erreur</title>
	  <tgroup cols="2">
	   <thead>
	    <row>
	     <entry>valeur du bit</entry>
	     <entry>niveau choisi</entry>
	    </row>
	   </thead>
	   <tbody>
	    <row>
	     <entry>1</entry>
	     <entry>erreurs normales</entry>
	    </row>
	    <row>
	     <entry>2</entry>
	     <entry>alertes normales</entry>
	    </row>
	    <row>
	     <entry>4</entry>
	     <entry>erreurs d'analyseur (parser errors)</entry>
	    </row>
	    <row>
	     <entry>8</entry>
	     <entry>alertes non critiques</entry>
	    </row>
	   </tbody>
	  </tgroup>
	 </table>
	 Par d&eacute;faut, la valeur est de 7 (erreurs normales, alertes normales
	et erreurs d'analyseur sont affich&eacute;es).
	</para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.open-basedir">
       <term>
	<parameter>open_basedir</parameter>
	<type>string</type>
       </term>
       <listitem>
	<para>
	Limite l'espace o&uacute; PHP peut ouvrir des fichiers.
	</para>
	<para>
	 Lorsqu'un script essaie d'ouvrir un fichier avec les fonctions
	 fopen ou gzopen (par exemple), la localisation du fichier est v&eacute;rifi&eacute;e.
	 Si ce fichier est hors du dossier cit&eacute; dans cette directive, PHP refusera
	 de l'ouvrir. Tous les liens symboliques sont r&eacute;solus, et subissent aussi
	 la restriction.
	</para>
	<para>
	 La valeurs sp&eacute;ciale <systemitem class="constant">.</systemitem>
	 indique que le dossier courant du script est utilis&eacute; comme open_basedir.
	</para>
	<para>
	 Sous Windows, s&eacute;parez les noms de dossiers par un point virgule (;).
	Sur les autres syst&egrave;mes, s&eacute;parez les noms de dossiers par des deux points (:).
	Lorsque PHP est un module Apache, la valeur de la directive open_basedir
	des dossiers parents sont automatiquement h&eacute;rit&eacute;s par les fils.
	</para>
        <note>
         <para>Le support pour les dossiers multiples a &eacute;t&eacute; ajout&eacute; dans 3.0.7.</para>
        </note>
	<para>
	 La valeur par d&eacute;faut est : libre acc&egrave;s &agrave; tous les fichiers.
	</para>
       </listitem>
      </varlistentry>
       <varlistentry id="ini.gpc-order">
       <term>
	<parameter>gpc_order</parameter>
	<type>cha&icirc;ne de caract&egrave;res</type>
       </term>
       <listitem>
	<para>
	Etablit l'ordre de pr&eacute;s&eacute;ance des m&eacute;thodes GET/POST/COOKIE.
	Par d&eacute;faut, cette directive est &eacute;tablie &agrave; "GPC". En affectant "GP" &agrave;
	cette directive, PHP ignorera les cookies, et &eacute;crasera toute m&eacute;thode
	GET utilis&eacute;e par une m&eacute;thode POST avec des variables du m&ecirc;me nom.
	</para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.ignore-user-abort">
       <term>
	<parameter>ignore_user_abort</parameter>
	<type>cha&icirc;ne de caract&egrave;res</type>
       </term>
       <listitem>
	<para>
	D&eacute;sactiv&eacute;e par d&eacute;faut. Si cette directive est activ&eacute;e, alors tous les scripts
	lanc&eacute;s iront jusqu'&agrave; leur terme, m&ecirc;me si le client se d&eacute;connecte en plein
	milieu. Voir aussi la fonction <function>ignore_user_abort</function>.
	</para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.include-path">
       <term>
	<parameter>include_path</parameter>
	<type>string</type>
       </term>
       <listitem>
	<para>
	 Sp&eacute;cifie une liste de dossier o&uacute; les fonctions <function>require</function>,
	 <function>include</function> et fopen_with_path (NDtraducteur : cette fonction
     semble avoir disparue) iront chercher les fichiers. Le format est le m&ecirc;me 
     que celui de la variable d'environnement <envar>PATH</envar> : une liste de dossiers, 
     s&eacute;par&eacute;s par des deux points (:) sous UNIX, et des points virgules (;), 
     sous Windows.
	 <example>
	  <title>UNIX include_path</title>
	  <programlisting role="php3.ini">
include_path=.:/home/httpd/php-lib
      </programlisting>
	 </example>
	 <example>
	  <title>Windows include_path</title>
	  <programlisting role="php3.ini">
include_path=".;c:\www\phplib"
      </programlisting>
	 </example>
	 La valeur par d&eacute;faut pour cette directive est <literal>.</literal>,
	 c'est &agrave; dire le dossier courant.</para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.isapi-ext">
    <term>
	<parameter>isapi_ext</parameter>
	<type>string</type>
       </term>
       <listitem>
 	    <para>
	     (Aucune documentation n'est fournie)
	    </para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.log-errors">
       <term>
	    <parameter>log_errors</parameter>
	    <type>boolean</type>
       </term>
       <listitem>
	    <para>
	     Indique o&uacute; les messages d'erreur g&eacute;n&eacute;r&eacute;s doivent
	     &ecirc;tre &eacute;crits. Cette fonction est sp&eacute;cifique aux serveurs.
	    </para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.magic-quotes-gpc">
       <term>
	    <parameter>magic_quotes_gpc</parameter>
	    <type>boolean</type>
       </term>
       <listitem>
	    <para>
	     Fixe le mode magic_quotes pour les op&eacute;rations GPC (Get/Post/Cookie).
	     Lorsque magic_quotes est activ&eacute;, tous les caract&egrave;res '
	     (guillemets simples), &quot; (guillemets doubles),  \ (antislash) et NUL
	     sont &eacute;chapp&eacute;s avec un antislash. Si magic_quotes_sybase
	     fonctionne aussi, les guillemets simples seront &eacute;chapp&eacute;s
 	     avec un autre guillemet simple, plut&ocirc;t qu'un antislash.
	    </para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.magic-quotes-runtime">
       <term>
	    <parameter>magic_quotes_runtime</parameter>
	    <type>boolean</type>
       </term>
       <listitem>
	    <para>
	     Si <parameter>magic_quotes_runtime</parameter> est activ&eacute;, toutes les fonctions
    	 qui retournent des donn&eacute;es d'une source externe, y compris les bases de
	     donn&eacute;es et les fichiers texte, verront leur guillemets &eacute;chapp&eacute;s avec un
	     antislash. Si <parameter>magic_quotes_sybase</parameter> est aussi activ&eacute;,
	     les guillemets simples seront &eacute;chapp&eacute;s avec un autre guillemet simple,
	     plut&ocirc;t qu'un antislash.
	    </para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.magic-quotes-sybase">
       <term>
    	<parameter>magic_quotes_sybase</parameter>
	    <type>boolean</type>
       </term>
       <listitem>
	    <para>
         Si <parameter>magic_quotes_sybase</parameter> est activ&eacute;, les guillemets
	     simples seront &eacute;chapp&eacute;s avec un autre guillemet simple, plut&ocirc;t
	     qu'un antislash, si <parameter>magic_quotes_gpc</parameter> ou
	     <parameter>magic_quotes_runtime</parameter> est activ&eacute;.
    	</para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.max-execution-time">
       <term>
	    <parameter>max_execution_time</parameter>
    	<type>integer</type>
       </term>
       <listitem>
	    <para>
	     Fixe le temps maximal d'&eacute;x&eacute;cution d'un script, en secondes. Cela permet
	     d'&eacute;viter que des scripts en boucles infinies ne saturent le serveur.
	    </para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.memory-limit">
       <term>
	    <parameter>memory_limit</parameter>
	    <type>entier</type>
       </term>
       <listitem>
	    <para>
	     Gr&acirc;ce &agrave; cette option, vous pouvez donner la quantit&eacute; maximale
	     de m&eacute;moire qu'un script peut allouer. Cela permet de reserver toute la
	     m&eacute;moire d'un serveur &agrave; un seul script.
    	</para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.nsapi-ext">
       <term>
	    <parameter>nsapi_ext</parameter>
	    <type>cha&icirc;ne de caract&egrave;res</type>
       </term>
       <listitem>
	    <para>
	     Aucune documentation n'est fournie.
    	</para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.register-globals">
	   <term>
        <parameter>register_globals</parameter>
        <type>boolean</type>
       </term>
       <listitem>
        <para>
         Cette option active l'enregistrement des variables EGPCS
         (Environement, GET, POST, Cookie, Serveur), en tant que
         variables globales. Vous pouvez d&eacute;sactiver cette fonction
         si vous ne voulez pas truffer vos scripts avec des
         valeurs utilisateurs. Cette option est surtout utile lorsqu'elle
         est utilis&eacute;e conjointement avec <link
         linkend="ini.track-vars">track_vars</link> - dans ce cas,
         vous pouvez acc&eacute;der &agrave; toutes les variables EGPCS gr&acirc;ce aux tableaux
         <varname>$HTTP_ENV_VARS</varname>,
         <varname>$HTTP_GET_VARS</varname>,
         <varname>$HTTP_POST_VARS</varname>,
         <varname>$HTTP_COOKIE_VARS</varname>, et
         <varname>$HTTP_SERVER_VARS</varname>.
        </para>
	   </listitem>
      </varlistentry>
      <varlistentry id="ini.short-open-tag">
       <term>
    	<parameter>short_open_tag</parameter>
	    <type>bool&eacute;en</type>
       </term>
       <listitem>
    	<para>
	     Active ou d&eacute;sactive l'utilisation des balises courtes,
	     (<userinput>&lt;? ?&gt;</userinput>). Si vous voulez utiliser PHP et XML en m&ecirc;me
	     temps, vous devez d&eacute;sactiver cette option. Si cette option est
	     d&eacute;sactiv&eacute;e, vous devez utiliser la forme longue des tags,
	     (<userinput>&lt;?php ?&gt;</userinput>).</para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.sql.safe-mode">
       <term>
    	<parameter>sql.safe_mode</parameter>
	    <type>bool&eacute;en</type>
       </term>
       <listitem>
	    <para>
 	     Aucune documentation n'est fournie.
	    </para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.track-errors">
       <term>
    	<parameter>track_errors</parameter>
	    <type>bool&eacute;en</type>
       </term>
       <listitem>
	    <para>
	     Si cette option est activ&eacute;e, le dernier message d'erreur sera plac&eacute; dans la
	     variable globale <symbol>$php_errormsg</symbol>.</para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.track-vars">
       <term>
	    <parameter>track_vars</parameter>
	    <type>bool&eacute;en</type>
       </term>
       <listitem>
	    <para>
    	 Si cette option est activ&eacute;e, lors de l'appel des m&eacute;thodes GET, POST et
	     l'utilisation des cookies, les variables sont disponibles dans des tableaux
	     associatifs globaux appel&eacute;s respectivement <symbol>$HTTP_GET_VARS</symbol>,
	     <symbol>$HTTP_POST_VARS</symbol> et <symbol>$HTTP_COOKIE_VARS</symbol>.
	    </para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.upload-tmp-dir">
       <term>
	    <parameter>upload_tmp_dir</parameter>
	    <type>cha&icirc;ne de caract&egrave;res</type>
       </term>
       <listitem>
	    <para>
	     Indique le r&eacute;pertoire utilis&eacute; lors du chargement d'un fichier sur un
	     serveur. Ce r&eacute;pertoire doit &ecirc;tre accessible en lecture pour
	     l'utilisateur qui lance le script PHP.
    	</para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.user-dir">
       <term>
	    <parameter>user_dir</parameter>
	    <type>cha&icirc;ne de caract&egrave;res</type>
       </term>
       <listitem>
	    <para>
	     R&eacute;pertoire o&uacute; sont stock&eacute;s les fichiers PHP dans le
	     r&eacute;pertoire d'un utilisateur. Par exemple, <literal>public_html</literal>.
	    </para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.warn-plus-overloading">
       <term>
    	<parameter>warn_plus_overloading</parameter>
	    <type>bool&eacute;en</type>
       </term>
       <listitem>
	    <para>
    	 Si cette option est activ&eacute;e, PHP &eacute;met un warning lorsque
    	 l'op&eacute;rateur plus (<literal>+</literal>) est utilis&eacute; sur une
    	 cha&icirc;ne de caract&egrave;res. Cela permet de r&eacute;perer plus
    	 facilement les scripts qui doivent &ecirc;tre r&eacute;&eacute;crits en
    	 utilisant l'op&eacute;rateur de concat&eacute;nation (<literal>.</literal>)
    	 plut&ocirc;t que l'op&eacute;rateur plus.
    	</para>
       </listitem>
      </varlistentry>
    </variablelist>
   </sect2>
   <sect2 id="ini.sect.mail">
    <title>Configuration des directives concernant le mail</title>
    <variablelist>
     <varlistentry id="ini.smtp">
      <term>
       <parameter>SMTP</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
	    Sous Windows, adresse IP ou nom que PHP doit utiliser pour envoyer
	    du mail avec la fonction <function>mail</function>.
	   </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.sendmail-from">
      <term>
       <parameter>sendmail_from</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
    	Sous Windows, valeur du champs "From:" qui doit &ecirc;tre utilis&eacute;e lors
    	de l'envoie de mail.
	   </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.sendmail-path">
      <term>
       <parameter>sendmail_path</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
    	Localisation du programme de <command>sendmail</command>, habituellement
	    <filename>/usr/sbin/sendmail</filename> ou <filename>/usr/lib/sendmail</filename>.
	    <command>configure</command> essaye de rep&eacute;rer la pr&eacute;sence de sendmail
	    par lui m&ecirc;me, et affecte ce r&eacute;sultat par d&eacute;faut. En cas de
	    probl&egrave;me de localisation, vous pouvez &eacute;tablir une nouvelle valeur
	    par d&eacute;faut ici.
       </para>
       <para>
    	Tout syst&egrave;me n'utilisant pas <command>sendmail</command> doit &eacute;tablir cette
	    directive &agrave; la valeur chemin du programme de substitution qui remplace le
	    serveur de mail, si celui-ci existe, par exemple,
	    <ulink url="http://www.qmail.org/">Qmail</ulink>.
	    Dans ce cas la, vous devez mettre: <filename>/var/qmail/bin/sendmail</filename>.
	   </para>
      </listitem>
     </varlistentry>
    </variablelist>
   </sect2>
   <sect2 id="ini.sect.safe-mode">
    <title>Directives de configuration du "Safe Mode"</title>
    <variablelist>
     <varlistentry id="ini.safe-mode">
      <term>
       <parameter>safe_mode</parameter>
       <type>bool&eacute;en</type>
      </term>
      <listitem>
       <para>
	    Cette directive active ou d&eacute;sactive l'option "safe mode".
	    Lisez le chapitre <link linkend="security">s&eacute;curit&eacute; </link> pour plus
	    d'informations.
	    </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.safe-mode-exec-dir">
      <term>
       <parameter>safe_mode_exec_dir</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
	    Si l'option "SAFE MODE" est activ&eacute;e, <function>system</function> et les
    	autres fonctions ex&eacute;cutant des programmes syst&egrave;mes refusent de se lancer
	    si ces programmes ne sont pas plac&eacute;s dans ce r&eacute;pertoire.
	   </para>
      </listitem>
     </varlistentry>
    </variablelist>
   </sect2>
   <sect2 id="ini.sect.debugger">
    <title>Directives de configuration de d&eacute;bbugage.</title>
    <variablelist>
     <varlistentry id="ini.debugger.host">
      <term>
       <parameter>debugger.host</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
    	Adresse IP ou nom de l'h&ocirc;te utilis&eacute; pour le d&eacute;boggage.
	   </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.debugger.port">
      <term>
       <parameter>debugger.port</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
	    Num&eacute;ro du port utilis&eacute; pour le d&eacute;boggage.
	   </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.debugger.enabled">
      <term>
       <parameter>debugger.enabled</parameter>
       <type>bool&eacute;en</type>
      </term>
      <listitem>
       <para>
    	Activation ou d&eacute;sactivation du debugger.</para>
      </listitem>
     </varlistentry>
    </variablelist>
   </sect2>
   <sect2 id="ini.sect.extension">
    <title>Directives de chargement des extensions</title>
    <variablelist>
     <varlistentry id="ini.enable-dl">
      <term>
	<parameter>enable_dl</parameter>
	<type>bool&eacute;en</type>
      </term>
      <listitem>
	   <para>
    	 Cette directive n'est r&eacute;ellement utile que dans le cas d'une compilation
	     comme module Apache. Vous pouvez activer le chargement dynamique des
	     extensions avec la fonction <function>dl</function>, et cela de mani&egrave;re
	     locale &agrave; chaque serveur virtuel ou &agrave; chaque r&eacute;pertoire.
	   </para>
	   <para>
    	La principale raison qui pousse &agrave; d&eacute;sactiver le chargement dynamique est un
	    probl&egrave;me de s&eacute;curit&eacute;. Lorsque le chargement dynamique est activ&eacute;, il est
	    possible d'ignorer les directives "safe_mode" ou "open_basedir".
	   </para>
	   <para>
    	Par d&eacute;faut, il est possible d'utiliser le chargement dynamique, sauf
    	lorsque la directive "safe_mode" est activ&eacute;e. En effet, il est alors
    	impossible d'utiliser la fonction <function>dl</function>.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.extension-dir">
      <term>
       <parameter>extension_dir</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
    	D&eacute;finit le r&eacute;pertoire dans lequel le PHP doit chercher les extensions lors
	    du chargement dynamique.
	   </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.extension">
      <term>
       <parameter>extension</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
	    D&eacute;finit les extensions qui doivent &ecirc;tre charg&eacute;es lors du
	    d&eacute;marrage du PHP.
	   </para>
      </listitem>
     </varlistentry>
    </variablelist>
   </sect2>
   <sect2 id="ini.sect.mysql">
    <title>MySQL Configuration Directives</title>
    <variablelist>
     <varlistentry id="ini.mysql.allow-persistent">
      <term>
       <parameter>mysql.allow_persistent</parameter>
       <type>bool&eacute;en</type>
      </term>
      <listitem>
       <para>
    	Active ou d&eacute;sactive les connexions persistentes &agrave; la base de
    	donn&eacute;es MySQL.
	   </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.mysql.default-host">
      <term>
       <parameter>mysql.default_host</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
    	Adresse par d&eacute;faut du serveur, &agrave; utiliser lors de la connexion &agrave;
    	un serveur MySQL, si aucun h&ocirc;te n'est sp&eacute;cifi&eacute;.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.mysql.default-user">
      <term>
       <parameter>mysql.default_user</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
    	Utilisateur par d&eacute;faut, &agrave; utiliser lors de la connexion &agrave; un serveur
	    MySQL, si aucun utilisateur n'est sp&eacute;cifi&eacute;.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.mysql.default-password">
      <term>
       <parameter>mysql.default_password</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
	    Mot de passe par d&eacute;faut, &agrave; utiliser lors de la connexion &agrave; un serveur
	    MySQL, si aucun mot de passe  n'est sp&eacute;cifi&eacute;.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.mysql.max-persistent">
      <term>
       <parameter>mysql.max_persistent</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
	    Nombre maximum de connexions persistantes &agrave; une base de donn&eacute;e MySQL,
	    par processus.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.mysql.max-links">
      <term>
       <parameter>mysql.max_links</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
	    Nombre de connexion maximum &agrave; une base de donn&eacute;e MySQL,
	    par processus, incluant les connexions persistantes
       </para>
      </listitem>
     </varlistentry>
    </variablelist>
   </sect2>
   <sect2 id="ini.sect.msql">
    <title>Directives de configuration mSQL</title>
    <variablelist>
     <varlistentry id="ini.msql.allow-persistent">
      <term>
       <parameter>msql.allow_persistent</parameter>
       <type>bool&eacute;en</type>
      </term>
      <listitem>
       <para>
	    Active ou d&eacute;sactive les connexions persistentes &agrave; la base de donn&eacute;es mSQL.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.msql.max-persistent">
      <term>
       <parameter>msql.max_persistent</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
	    Nombre maximum de connexions persistantes &agrave; une base de donn&eacute;e mSQL,
	    par processus.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.msql.max-links">
      <term>
       <parameter>msql.max_links</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
	    Nombre maximum de connexions &agrave; une base de donn&eacute;e mSQL,
	    par processus, incluant les connexions persistantes.
       </para>
      </listitem>
     </varlistentry>
    </variablelist>
   </sect2>
   <sect2 id="ini.sect.pgsql">
    <title>Directives de configuration Postgres</title>
    <variablelist>
     <varlistentry id="ini.pgsql.allow-persistent">
      <term>
       <parameter>pgsql.allow_persistent</parameter>
       <type>bool&eacute;en</type>
      </term>
      <listitem>
       <para>
	    Active ou d&eacute;sactive les connexions persistantes &agrave; la base de
	    donn&eacute;es Postgres.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.pgsql.max-persistent">
      <term>
       <parameter>pgsql.max_persistent</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
	    Nombre maximum de connexions persistantes &agrave; une base de donn&eacute;es
	    Postgres, par processus.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.pgsql.max-links">
      <term>
       <parameter>pgsql.max_links</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
    	Nombre maximal de connexions &agrave; une base de donn&eacute;e Postgres,
	    par processus, incluant les connexions persistantes.
       </para>
      </listitem>
     </varlistentry>
    </variablelist>
   </sect2>
   <sect2 id="ini.sect.sesam">
    <title>Directives de configuration SESAM</title>
    <variablelist>
     <varlistentry id="ini.sesam-oml">
      <term>
       <parameter>sesam_oml</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        Nom de la librairieBS2000 PLAM contenant les pilotes de connexion SESAM.
        Obligatoire pour les fonctions SESAM. La librairie BS2000 PLAM
        doit &ecirc;tre configur&eacute;e avec ACCESS=READ,SHARE=YES
        car elle doit &ecirc;tre accessible &agrave; l'utilisateur Apache.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.sesam-configfile">
      <term>
       <parameter>sesam_configfile</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        Nom du fichier de configuration de l'application SESAM.
        Obligatoire pour les fonctions SESAM. Le fichier
        BS2000 doit &ecirc;tre accessible &ecirc;tre accessible &agrave; l'utilisateur Apache.
       </para>
       <para>
        Le fichier de configuration de l'application va contenir la configuration
        sur le sch&eacute;ma suivant (voir le manuel SESAM) :
        <informalexample>
         <programlisting role="bs2000">
CNF=B
NAM=K
NOTYPE</programlisting>
        </informalexample>
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.sesam-messagecatalog">
      <term>
       <parameter>sesam_messagecatalog</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        Nom du catalogue de messages SESAM. Dans la plus part des
        cas, cette directive n'est pas n&eacute;cessaire. Seulement, si
        le fichier de messages SESAM n'est pas install&eacute; dans la
        table de messages BS2000, il faut indiquer sa localisation avec
        cette directive.
       </para>
       <para>
        Le catalogue de messages doit &ecirc;tre param&eacute;tr&eacute; avec
        ACCESS=READ,SHARE=YES car elle doit &ecirc;tre accessible &agrave; l'utilisateur Apache.
       </para>
      </listitem>
     </varlistentry>
    </variablelist>
   </sect2>
   <sect2 id="ini.sect.sybase">
    <title>Directives de configuration Sybase</title>
    <variablelist>
     <varlistentry id="ini.sybase.allow-persistent">
      <term>
       <parameter>sybase.allow_persistent</parameter>
       <type>bool&eacute;en</type>
      </term>
      <listitem>
       <para>
	Active ou d&eacute;sactive les connexions persistentes &agrave; la base de donn&eacute;es Sybase.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.sybase.max-persistent">
      <term>
       <parameter>sybase.max_persistent</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
	Nombre maximum de connexions persistantes &agrave; une base de donn&eacute;es Sybase par processus.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.sybase.max-links">
      <term>
       <parameter>sybase.max_links</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
	Nombre maximum de connexions &agrave; une base de donn&eacute;es Sybase, par processus,
	incluant les connexions persistantes.
       </para>
      </listitem>
     </varlistentry>
    </variablelist>
   </sect2>
   <sect2 id="ini.sect.sybct">
    <title>Sybase-CT Configuration Directives</title>
    <variablelist>
     <varlistentry id="ini.sybct.allow-persistent">
      <term>
       <parameter>sybct.allow_persistent</parameter>
       <type>bool&eacute;en</type>
      </term>
      <listitem>
       <para>
	Active ou d&eacute;sactive les connexions persistantes &agrave; la base de donn&eacute;es
	Sybase-CT. Par d&eacute;faut, cette option est activ&eacute;e.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.sybct.max-persistent">
      <term>
       <parameter>sybct.max_persistent</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
	Nombre maximum de connexions persistantes &agrave; une base de donn&eacute;es Sybase-CT par
	processus. Par d&eacute;faut, cette option est &agrave; -1, ce qui signifie que le nombre de
	connexion est illimit&eacute;.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.sybct.max-links">
      <term>
       <parameter>sybct.max_links</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
	Nombre maximum de connexions &agrave; une base de donn&eacute;es Sybase-CT, par processus,
	incluant les connexions persistantes. Par d&eacute;faut, cette option est &agrave; -1,
	ce qui signifie que le nombre de connexions est illimit&eacute;e.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.sybct.min-server-severity">
      <term>
       <parameter>sybct.min_server_severity</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
	Les messages en provenance du serveur d'un niveau d'erreur &eacute;gal &agrave;
	sybct.min_server_severity seront consid&eacute;r&eacute;s comme des alertes (warnings).
	Cette valeur peut &ecirc;tre modifi&eacute;e &agrave; l'int&eacute;rieur du script en appelant la fonction
	sybase_min_server_severity (NDtraducteur : cette fonction semble ne pas exister).
	Par d&eacute;faut, cette valeur vaut 10.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.sybct.min-client-severity">
      <term>
       <parameter>sybct.min_client_severity</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
	Les messages en provenance de la librairie client avec un niveau d'erreur &eacute;gal
	ou sup&eacute;rieur &agrave; sybct.min_client_severity seront consid&eacute;r&eacute;s comme des alertes.
	Cette valeur peut &ecirc;tre modifi&eacute;e &agrave; l'int&eacute;rieur du script en appelant la
	fonction sybase_min_client_severity (NDtraducteur : cette fonction semble ne pas exister).
	Par d&eacute;faut, cette valeur vaut 10, ce qui annule tout rapport d'erreur.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.sybct.login-timeout">
      <term>
       <parameter>sybct.login_timeout</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
	    D&eacute;lai de validit&eacute; d'une tentative de connexion. Il est &agrave;
	    noter que si max_execution_time est d&eacute;pass&eacute; avant que la connexion
	    n'&eacute;xpire, le script sera termin&eacute; avant le message d'erreur.
	    Par d&eacute;faut, cette valeur vaut 1 minute.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.sybct.timeout">
      <term>
       <parameter>sybct.timeout</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
	    Temps maximum en secondes avant qu'une tentative de requ&ecirc;te "select_db" ou
	    "query" non aboutie renvoie une erreur. Il est &agrave; noter que si
	    max_execution_time est d&eacute;pass&eacute; avant que la requ&ecirc;te
	    n'&eacute;xpire, votre script sera termin&eacute; avant le message d'erreur.
	    Par d&eacute;faut, il n'y a pas de limite.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.sybct.hostname">
      <term>
       <parameter>sybct.hostname</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
	Nom de l'h&ocirc;te &agrave; partir duquel vous vous connectez, afin d'&ecirc;tre affich&eacute; par
	la fonction sp_who (NDtraducteur : cette fonction semble ne pas exister).
	Par d&eacute;faut, cette valeur &eacute;gale &agrave; 0.
       </para>
      </listitem>
     </varlistentry>
    </variablelist>
   </sect2>
   <sect2 id="ini.sect.informix">
    <title>Directives de configuration Informix</title>
    <variablelist>
     <varlistentry id="ini.ifx.allow-persistent">
      <term>
       <parameter>ifx.allow_persistent</parameter>
       <type>bool&eacute;en</type>
      </term>
      <listitem>
       <para>
        Active les connexions persistantes &agrave; une base de donn&eacute;es Informix.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.ifx.max-persistent">
      <term>
       <parameter>ifx.max_persistent</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
        Nombre maximum de connexions persistantes &agrave; une base de donn&eacute;es Informix,
	par processus.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.ifx.max-links">
      <term>
       <parameter>ifx.max_links</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
        Nombre maximum de connexions &agrave; une base de donn&eacute;es Informix par processus,
	en incluant les connexions persistantes.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.ifx.default-host">
      <term>
       <parameter>ifx.default_host</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
        H&ocirc;te par d&eacute;faut o&uacute; se connecter si aucun h&ocirc;te n'est sp&eacute;cifi&eacute; par les
	fonctions <function>ifx_connect</function> ou <function>ifx_pconnect</function>.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.ifx.default-user">
      <term>
       <parameter>ifx.default_user</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
        Utilisateur par d&eacute;faut si aucun utilisateur n'est sp&eacute;cifi&eacute; par les fonctions
	<function>ifx_connect</function> ou <function>ifx_pconnect</function>.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.ifx.default-password">
      <term>
       <parameter>ifx.default_password</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
        Mot de passe par d&eacute;faut si aucun mot de passe n'est sp&eacute;cifi&eacute; par les fonctions
	<function>ifx_connect</function> ou <function>ifx_pconnect</function>.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.ifx.blobinfile">
      <term>
       <parameter>ifx.blobinfile</parameter>
       <type>bool&eacute;en</type>
      </term>
      <listitem>
       <para>
	Lorsque cette option est activ&eacute;e, les colonnes de type "blob" seront retourn&eacute;es
	dans un fichier. Par d&eacute;faut, elles seront retourn&eacute;es en m&eacute;moire. Il est possible
	de modifier dynamiquement cette valeur gr&acirc;ce &agrave; la fonction
	<function>ifx_blobinfile_mode</function>.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.ifx.textasvarchar">
      <term>
       <parameter>ifx.textasvarchar</parameter>
       <type>bool&eacute;en</type>
      </term>
      <listitem>
       <para>
	Lorsque cette option est activ&eacute;e, les colonnes de type "TEXT" seront retourn&eacute;es
	dans une cha&icirc;ne de caract&egrave;res. Par d&eacute;faut, elles seront retourn&eacute;es en m&eacute;moire. Il est possible
	de modifier dynamiquement cette valeur gr&acirc;ce &agrave; la fonction
	<function>ifx_textasvarchar</function>.
	</para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.ifx.byteasvarchar">
      <term>
       <parameter>ifx.byteasvarchar</parameter>
       <type>bool&eacute;en</type>
      </term>
      <listitem>
       <para>
	Lorsque cette option est activ&eacute;e, les colonnes de type "BYTE" seront retourn&eacute;es
	dans une cha&icirc;ne de caract&egrave;res. Par d&eacute;faut, elles seront retourn&eacute;es en m&eacute;moire.
	Il est possible	de modifier dynamiquement cette valeur gr&acirc;ce &agrave; la fonction
	<function>ifx_textasvarchar</function>.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.ifx.charasvarchar">
      <term>
       <parameter>ifx.charasvarchar</parameter>
       <type>bool&eacute;en</type>
      </term>
      <listitem>
       <para>
	Lorsque cette option est activ&eacute;e, les espaces en fin de cha&icirc;ne de caract&egrave;res
	seront conserv&eacute;s lors d'une commande FETCH.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.ifx.nullformat">
      <term>
       <parameter>ifx.nullformat</parameter>
       <type>bool&eacute;en</type>
      </term>
      <listitem>
       <para>
	Lorsque cette option est activ&eacute;e, les colonnes de valeur NULL seront retourn&eacute;es
	comme des cha&icirc;nes de caract&egrave;res vides.
	Il est possible	de modifier dynamiquement cette valeur gr&acirc;ce &agrave; la fonction
	<function>ifx_nullformat</function>.
       </para>
      </listitem>
     </varlistentry>
    </variablelist>
   </sect2>
   <sect2 id="ini.sect.bcmath">
    <title>Directives de configuration pour les calculs math&eacute;matiques.</title>
    <variablelist>
     <varlistentry id="ini.bcmath.scale">
      <term>
       <parameter>bcmath.scale</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
	Nombre de chiffres apr&egrave;s la virgule pour toutes les fonctions de
	pr&eacute;cision math&eacute;matique arbitraire.
       </para>
      </listitem>
     </varlistentry>
    </variablelist>
   </sect2>
   <sect2 id="ini.sect.browscap">
    <title>Directives de configuration du navigateur.</title>
    <variablelist>
     <varlistentry id="ini.browscap">
      <term>
       <parameter>browscap</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
	Nom du fichier de descriptif des clients HTML.
	Voir aussi <function>get_browser</function>.
       </para>
      </listitem>
     </varlistentry>
    </variablelist>
   </sect2>
   <sect2 id="ini.sect.uodbc">
    <title>Directives de configuration du driver ODBC unifi&eacute;</title>
    <variablelist>
     <varlistentry id="ini.uodbc.default-db">
      <term>
       <parameter>uodbc.default_db</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
	Source de donn&eacute;es ODBC &agrave; utiliser par d&eacute;faut avec les fonctions
	<function>odbc_connect</function> ou <function>odbc_pconnect</function>.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.uodbc.default-user">
      <term>
       <parameter>uodbc.default_user</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
	Nom d'utilisateur d&eacute;faut avec les fonctions <function>odbc_connect</function> ou
	<function>odbc_pconnect</function>.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.uodbc.default-pw">
      <term>
       <parameter>uodbc.default_pw</parameter>
       <type>cha&icirc;ne de caract&egrave;res</type>
      </term>
      <listitem>
       <para>
	Mot de passe par d&eacute;faut dans les fonctions <function>odbc_connect</function> ou
	<function>odbc_pconnect</function>.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.uodbc.allow-persistent">
      <term>
       <parameter>uodbc.allow_persistent</parameter>
       <type>bool&eacute;en</type>
      </term>
      <listitem>
       <para>
	Cette option active ou d&eacute;sactive les connexions persistantes &agrave; la base de
	donn&eacute;es, via le canal ODBC.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.uodbc.max-persistent">
      <term>
       <parameter>uodbc.max_persistent</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
	Nombre maximum de connexions persistantes autoris&eacute;es &agrave; la base de donn&eacute;es.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry id="ini.uodbc.max-links">
      <term>
       <parameter>uodbc.max_links</parameter>
       <type>entier</type>
      </term>
      <listitem>
       <para>
	Nombre maximum de connexions (persistantes ou non), par processus,
	&agrave; la base de donn&eacute;es.
       </para>
      </listitem>
     </varlistentry>
    </variablelist>
   </sect2>
  </sect1>
 </chapter>
<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
sgml-parent-document:nil
sgml-default-dtd-file:"../../manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
-->
