<?xml version="1.0" encoding="iso-8859-1"?>
<!-- $Revision: 1.24 $ -->
 <chapter id="configuration">
  <title>Configuration</title>
  <sect1 id="configuration.file">
   <title>Le fichier de configuration</title>
   <simpara>
     Le fichier de configuration (appel&eacute; <filename>php3.ini</filename>
     dans la version 3.0 du PHP, et simplement &php.ini;
     dans la version 4.0) est lu par le PHP au d&eacute;marrage. Si vous
     avez compil&eacute; PHP en module, le fichier n'est lu qu'une seule
     fois, au lancement du d&eacute;mon <acronym>HTTP</acronym>. Pour la version
     <acronym>CGI</acronym> le fichier est lu &agrave; chaque invocation.
   </simpara>
   <para>
    La localisation par d&eacute;faut du &php.ini; est une option de compilation (voir
    <link linkend="faq.installation.phpini">FAQ</link>), mais elle peut &ecirc;tre
    chang&eacute;e pour les versions <acronym>CGI</acronym> et <acronym>CLI</acronym> avec
    l'option de ligne de commande <literal>-c</literal> : voyez le chapitre
    sur l'utilisation de &php; en <link linkend="features.commandline">ligne de commande</link>. 
    Vous pouvez aussi utiliser la variable d'environnement <literal>PHPRC</literal> 
    pour indiquer des chemins suppl&eacute;mentaires pour rechercher le fichier
    &php.ini;.
   </para>
   <para>
    Toutes les directives &php; ne sont pas document&eacute;es ci-dessous. Pour une
    ligne de toutes les directives, lisez le &php.ini;, qui est tr&egrave;s bien
    document&eacute;. Vous pouvez jeter un oeil &agrave; sa toute derni&egrave;re version 
    <ulink url="&url.php.cvs.phpini;">dans le CVS</ulink>.
   </para>
   <note>
    <para>
     La valeur par d&eacute;faut de la directive &php;
     <link linkend="ini.register-globals">register_globals</link> a &eacute;t&eacute; chang&eacute;e
     de <emphasis>on</emphasis> &agrave; <emphasis>off</emphasis> en &php;
     <ulink url="&url.php.release4.2.0;">4.2.0</ulink>.
    </para>
   </note>
   <para>
    <example>
     <title>Extrait du &php.ini;</title>
     <programlisting role="ini">
<![CDATA[
; tout texte sur une ligne, situ&eacute; apr&egrave;s un point-virgule  ";" est ignor&eacute;
[php] ; les marqueur de section (texte entre crochets) sont aussi ignor&eacute;s
; Les valeurs bool&eacute;enne peuvent &ecirc;tre sp&eacute;cifi&eacute;es comme ceci :
;    true, on, yes
; ou false, off, no, none
register_globals = off
magic_quotes_gpc = yes
; vous pouvez placer les cha&icirc;nes de caract&egrave;res entre guillemets
include_path = ".:/usr/local/lib/php"
; Les anti-slash sont trait&eacute;s comme n'importe quel caract&egrave;re
include_path = ".;c:\php\lib"
</programlisting>
<!-- TODO: add more details about values and expressions -->
]]>
     </programlisting>
    </example>
   </para>
  </sect1>

  <sect1 id="configuration.changes">
   <title>Comment modfier la configuration</title>

   <sect2 id="configuration.changes.apache">
    <title>Ex&eacute;cuter &php; comme module Apache</title>
   <simpara>
     Lorsque vous utilisez le module Apache, vous pouvez aussi changer
     les param&egrave;tres de configuration en utilisant les directives
     dans les fichiers de configuration d'Apache et dans les fichiers
     <filename>.htaccess</filename>.
   </simpara>
   <simpara>
     Dans la version 3.0, &agrave; chaque directive de configuration
     pr&eacute;sente dans le fichier de configuration d'Apache correspond
     une directive de configuration dans le fichier
     <filename>php3.ini</filename>, &agrave; l'exception des directives
     pr&eacute;fix&eacute;es par "php3_".
   </simpara>
   <simpara>
     Dans la version 4.0, il y a de nombreuses directives
     Apache qui vous permettent de modifier la configuration de &php;.
   </simpara>
   <variablelist>
    <varlistentry>
     <term>
       <systemitem role="directive">php_value</systemitem>
       <parameter>name</parameter>
       <parameter>value</parameter>
      </term>
      <listitem>
       <para>
        Modifie la valeur de la directive sp&eacute;cifi&eacute;e.
        Cette instruction n'est utilisable qu'avec les directives
        &php; de type PHP_INI_ALL et PHP_INI_PERDIR.
        Pour annuler une valeur qui aurait &eacute;t&eacute; modifi&eacute;e au pr&eacute;alable,
        utilisez la valeur <literal>none</literal>.
         <informalexample>
          <programlisting role="ini">
<![CDATA[
php_value auto_prepend_file none
]]>
          </programlisting>
         </informalexample>
        </para>
      </listitem>
     </varlistentry>
     <varlistentry>
      <term>
       <systemitem role="directive">php_flag</systemitem>
       <parameter>name</parameter>
       <parameter>on|off</parameter>
      </term>
      <listitem>
       <para>
        Cette instruction est utilis&eacute;e pour activer ou
        d&eacute;sactiver une option.
        Cette instruction n'est utilisable qu'avec les directives
        &php; de type PHP_INI_ALL et PHP_INI_PERDIR.
       </para>
      </listitem>
     </varlistentry>
     <varlistentry>
      <term>
       <systemitem role="directive">php_admin_value</systemitem>
       <parameter>name</parameter>
       <parameter>value</parameter>
      </term>
      <listitem>
       <para>
         Cette instruction affecte une valeur &agrave; la variable
         sp&eacute;cifi&eacute;e. 
         Cette instruction NE peux PAS &ecirc;tre utilis&eacute;e dans un fichier <filename>.htaccess</filename>.
         Toute diretive de &php; configur&eacute;e avec le type 
         <systemitem role="directive">php_admin_value</systemitem> ne peut pas &ecirc;tre
         modifi&eacute;e en utilisant le fichier <filename>.htaccess</filename>.
         <informalexample>
          <programlisting role="ini">
<![CDATA[
php_admin_value open_basedir none
]]>
          </programlisting>
         </informalexample>
       </para>
      </listitem>
     </varlistentry>
     <varlistentry>
      <term>
       <systemitem role="directive">php_admin_flag</systemitem>
       <parameter>name</parameter>
       <parameter>on|off</parameter>
      </term>
      <listitem>
       <para>
        Cette directive est utilis&eacute;e pour activer ou d&eacute;sactiver l'option
        pr&eacute;c&eacute;dente.
         Cette instruction NE peux PAS &ecirc;tre utilis&eacute;e dans un fichier <filename>.htaccess</filename>.
         Toute directive de &php; configur&eacute;e avec le type 
         <systemitem role="directive">php_admin_value</systemitem> ne peut pas &ecirc;tre
         modifi&eacute;e en utilisant le fichier <filename>.htaccess</filename>.
    </para>
      </listitem>
     </varlistentry>
    </variablelist>
   <para>
    <example>
     <title>Exemple de configuration Apache</title>
     <programlisting role="ini">
<![CDATA[
<IfModule mod_php4.c>
  php_value include_path ".:/usr/local/lib/php"
  php_admin_flag safe_mode on
</IfModule>
<IfModule mod_php3.c>
  php3_include_path ".:/usr/local/lib/php"
  php3_safe_mode on
</IfModule>
]]>
</programlisting>
    </example>
   </para>
 <note>
      <para>
       Les constantes &php; n'existent pas en dehors de &php;. Par
       exemple, dans le fichier <filename>httpd.conf</filename>,
       vous ne pouvez pas utiliser des constantes &php; telles que
       <constant>E_ALL</constant> ou <constant>E_NOTICE</constant> 
       pour fixer le niveau de <link linkend="ini.error-reporting">rapport d'erreur</link>,
       car ces constantes n'ont pas de signification pour Apache, 
       et seront remplac&eacute;es par <emphasis>0</emphasis>. 
       Utilisez les valeurs num&eacute;riques &agrave; la place. 
       Les valeurs num&eacute;riques peuvent aussi &ecirc;tre 
       utilis&eacute;es dans le &php.ini;
      </para>
     </note>
    </sect2>

   <sect2 id="configuration.changes.other">
    <title>Autres interfaces de configuration de &php;</title>
    <para>
     Ind&eacute;pendamment de l'interface de &php;, vous pouvez modifier
     certaines valeurs de la configuration durant l'ex&eacute;cution des
     scripts, gr&acirc;ce &agrave; la fonction <function>ini_set</function>. 
     La table suivante fournit une pr&eacute;sentation des diff&eacute;rents endroits
     o&ugrave; la directive peut &ecirc;tre modifi&eacute;e.
    </para>
    <para>
     <table>
     <title>Definition des constantes PHP_INI_*</title>
     <tgroup cols="3">
      <thead>
       <row>
        <entry>Constante</entry>
        <entry>Valeur</entry>
        <entry>Signification</entry>
       </row>
      </thead>
      <tbody>
       <row>
        <entry>PHP_INI_USER</entry>
        <entry>1</entry>
        <entry>La directive peut &ecirc;tre configur&eacute;e dans les scripts.</entry>
       </row>
       <row>
        <entry>PHP_INI_PERDIR</entry>
        <entry>2</entry>
        <entry>
         La directive peut &ecirc;tre configur&eacute;e dans le fichier &php.ini;, le
         fichier <filename>.htaccess</filename> ou encore dans le fichier
         <filename>httpd.conf</filename>
        </entry>
       </row>
       <row>
        <entry>PHP_INI_SYSTEM</entry>
        <entry>4</entry>
        <entry>
         La directive peut &ecirc;tre configur&eacute;e dans le fichier &php.ini; ou
         dans <filename>httpd.conf</filename>
        </entry>
       </row>
       <row>
        <entry>PHP_INI_ALL</entry>
        <entry>7</entry>
        <entry>La directive peut &ecirc;tre modifi&eacute;e n'importe o&ugrave;.</entry>
       </row>
      </tbody>
     </tgroup>
    </table>
    </para>
     <para>
     Vous pouvez voir l'&eacute;tat de votre configuration en utilisant
     la fonction <function>phpinfo</function>. Vous pouvez aussi
     acc&eacute;der aux valeurs de votre configuration de mani&egrave;re
     individuelle en utilisant les fonctions
     <function>ini_get</function> or <function>get_cfg_var</function>.
    </para>
   </sect2>
  </sect1>
  
  <sect1 id="configuration.directives">
   <title>Directives de configuration</title>

  <sect2 id="ini.sect.httpd-options">
   <title>Options Httpd</title>
    <para>
     <table>
      <title>Options Httpd</title>
      <tgroup cols="3">
       <thead>
        <row>
         <entry>Nom</entry>
         <entry>Valeur par d&eacute;faut</entry>
         <entry>Modifications</entry>
        </row>
       </thead>
       <tbody>
        <row>
         <entry>async_send</entry>
         <entry>"0"</entry>
         <entry>PHP_INI_ALL</entry>
        </row>
       </tbody>
      </tgroup>
     </table>
    </para>
    <para>
    </para>
   </sect2>

  <sect2 id="ini.sect.language-options">
   <title>Options du langage</title>
   <para>
   <table>
    <title>Options du language</title>
    <tgroup cols="3">
       <thead>
        <row>
         <entry>Nom</entry>
         <entry>Valeur par d&eacute;faut</entry>
         <entry>Modifications</entry>
        </row>
       </thead>
     <tbody>
     <row>
      <entry>short_open_tag</entry>
      <entry>On</entry>
      <entry>PHP_INI_SYSTEM|PHP_INI_PERDIR</entry>
     </row>
     <row>
      <entry>asp_tags</entry>
      <entry>Off</entry>
      <entry>PHP_INI_SYSTEM|PHP_INI_PERDIR</entry>
     </row>
     <row>
      <entry>precision</entry>
      <entry>"14"</entry>
      <entry>PHP_INI_ALL</entry>
     </row>
     <row>
      <entry>y2k_compliance</entry>
      <entry>Off</entry>
      <entry>PHP_INI_ALL</entry>
     </row>
     <row>
      <entry>allow_call_time_pass_reference</entry>
      <entry>On</entry>
      <entry>PHP_INI_SYSTEM|PHP_INI_PERDIR</entry>
     </row>
     <row>
      <entry>expose_php</entry>
      <entry>On</entry>
      <entry>PHP_INI_SYSTEM</entry>
     </row>
    </tbody>
    </tgroup>
   </table>
     <variablelist>
      <varlistentry id="ini.short-open-tag">
       <term>
        <parameter>short_open_tag</parameter>
        <type>bool</type>
       </term>
       <listitem>
        <para>
         Active le support de la forme courte des balises &php; : 
         <userinput>&lt;? ?&gt;</userinput>. Si vous voulez utiliser
         &php; avec du XML, vous pouvez d&eacute;sactiver cette option afin que
         vous puissiez utiliser <userinput>&lt;?xml ?&gt;</userinput>. Sinon
         vous pouvez l'afficher avec PHP comme ceci : 
         <userinput>&lt;?php echo '&lt;?xml version="1.0"'; ?&gt;</userinput>.
         Si cette directive est d&eacute;sactiv&eacute;e, vous devez utiliser la
         forme longue des balises &php; <userinput>&lt;?php ?&gt;</userinput>.
        </para>
        <note>
         <para>
          Cette directive affecte aussi les raccourcis <userinput>&lt;?=</userinput>, 
          qui est l'&eacute;quivalent de <userinput>&lt;? echo</userinput>. Utiliser ce 
          raccourci impose l'activation de la directive 
          <systemitem role="directive">short_open_tag</systemitem>.
         </para>
        </note>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.asp-tags">
       <term>
        <parameter>asp_tags</parameter>
        <type>bool</type>
       </term>
       <listitem>
        <para>
         Active l'utilisation des balises de type ASP &lt;% %&gt;, en plus des
         traditionnelles balises &lt;?php ?&gt; . Cela inclut l'utilisation du raccourcid
         &lt;%= $value %&gt;. Pour plus d'informations, reportez-vous &agrave;
         <link linkend="language.basic-syntax.phpmode">inclusion dans le HTML</link>.
        </para>
        <note>
         <para>
          Le support des balises ASP a &eacute;t&eacute; ajout&eacute; dans la version 3.0.4.
        </para>
        </note>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.precision">
       <term>
        <parameter>precision</parameter>
        <type>integer</type>
       </term>
       <listitem>
        <simpara>
         Le nombre de chiffres significatifs &agrave; afficher avec les &float;.
        </simpara>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.y2k-compliance">
       <term>
        <parameter>y2k_compliance</parameter>
        <type>bool</type>
       </term>
       <listitem>
        <simpara>
         Active la compatibilit&eacute; an 2000 (Cela posera des probl&egrave;mes avec les
         navigateurs qui ne sont pas compatibles)
        </simpara>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.allow-call-time-pass-reference">
       <term>
        <parameter>allow_call_time_pass_reference</parameter>
        <type>bool</type>
       </term>
       <listitem>
        <para>
         Cette directive force le passage des arguments par r&eacute;f&eacute;rence au
         moment de l'appel des fonctions. Cette m&eacute;thode est obsol&egrave;te, et il
         est probable qu'elle soit abandonn&eacute;e dans les futures versions de
         PHP et Zend. La m&eacute;thode qui est recommand&eacute;e est d'indiquer le passage
         par r&eacute;f&eacute;rence dans la d&eacute;claration de la fonction. Nous vous recommandons
         de tenter de d&eacute;sactiver cette directive et d'adapter vos scripts,
         afin d'en garantir leur portabilit&eacute; (vous verrez une alerte s'afficher
         &agrave; chaque fois que vous utilisez cette fonctionnalit&eacute;, et les
         arguments seront pass&eacute;s par valeur au lieu de par r&eacute;f&eacute;rence).
        </para>
        <para>
         Voir aussi <link linkend="language.references">Les r&eacute;f&eacute;rences</link>.
        </para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.expose-php">
       <term>
        <parameter>expose_php</parameter>
        <type>bool</type>
       </term>
       <listitem>
        <para>
         Cette directive active ou non le fait que &php; est marqu&eacute; comme install&eacute;
         sur le serveur web (en ajoutant sa propre signature dans les ent&ecirc;tes du serveur
         web). Cet affichage n'est pas une menace en terme de s&eacute;curit&eacute;, mais il permet
         de d&eacute;terminer l'utilisation de &php; sur votre serveur.
        </para>
       </listitem>
      </varlistentry>
     </variablelist>
    </para>
   </sect2>

  <sect2 id="ini.sect.resource-limits">
   <title>Limitation des ressources</title>
   <para>
    <table>
     <title>Limitation des ressources</title>
     <tgroup cols="3">
       <thead>
        <row>
         <entry>Nom</entry>
         <entry>Valeur par d&eacute;faut</entry>
         <entry>Modifications</entry>
        </row>
       </thead>
      <tbody>
       <row>
        <entry>memory_limit</entry>
        <entry>"8M"</entry>
        <entry>PHP_INI_ALL</entry>
       </row>
      </tbody>
     </tgroup>
    </table>
   </para>
   <para>
    Voici un &eacute;claircissement sur cette directive. 
    <variablelist>

     <varlistentry id="ini.memory-limit">
      <term>
       <parameter>memory_limit</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
        Cette directive fixe la quantit&eacute; maximale de m&eacute;moire, exprim&eacute;e
        en octets, qu'un script peut r&eacute;server. Cela &eacute;vite que des scripts
        mal &eacute;crits consomme toute la m&eacute;moire sur le serveur. Afin d'utiliser
        cette directive, vous devez l'avoir activ&eacute;e au moment de la compilation.
        De ce fait, vous devez trouver dans la ligne de configuration
        l'option <literal>--enable-memory-limit</literal>. Notez que vous
        pouvez lui donner la valeur de -1 si vous ne souhaitez pas de
        limitation de consommation de m&eacute;moire.
       </para>
      </listitem>
     </varlistentry>
    </variablelist>
   </para>
   <para>
    Voir aussi
    <link linkend="ini.max-execution-time">max_execution_time</link>.
   </para>
  </sect2>
  <sect2 id="ini.sect.data-handling">
   <title>Gestion des donn&eacute;es</title>
    <para>
     <table>
      <title>Options de gestion des donn&eacute;es</title>
      <tgroup cols="3">
       <thead>
        <row>
         <entry>Nom</entry>
         <entry>Par d&eacute;faut</entry>
         <entry>Modifiable</entry>
        </row>
       </thead>
       <tbody>
        <row>
         <entry>track-vars</entry>
         <entry>"On"</entry>
         <entry>PHP_INI_??</entry>
        </row>
        <row>
         <entry>arg_separator.output</entry>
         <entry>"&amp;"</entry>
         <entry>PHP_INI_ALL</entry>
        </row>
        <row>
         <entry>arg_separator.input</entry>
         <entry>"&amp;"</entry>
         <entry>PHP_INI_SYSTEM|PHP_INI_PERDIR</entry>
        </row>
        <row>
         <entry>variables_order</entry>
         <entry>"EGPCS"</entry>
         <entry>PHP_INI_ALL</entry>
        </row>
        <row>
         <entry>register_globals</entry>
         <entry>"Off"</entry>
         <entry>PHP_INI_PERDIR|PHP_INI_SYSTEM</entry>
        </row>
        <row>
         <entry>register_argc_argv</entry>
         <entry>"On"</entry>
         <entry>PHP_INI_PERDIR|PHP_INI_SYSTEM</entry>
       </row>
       <row>
        <entry>post_max_size</entry>
        <entry>"8M"</entry>
        <entry>PHP_INI_SYSTEM|PHP_INI_PERDIR</entry>
       </row>
       <row>
        <entry>gpc_order</entry>
        <entry>"GPC"</entry>
        <entry>PHP_INI_ALL</entry>
       </row>
       <row>
        <entry>auto_prepend_file</entry>
        <entry>""</entry>
        <entry>PHP_INI_SYSTEM|PHP_INI_PERDIR</entry>
       </row>
       <row>
        <entry>auto_append_file</entry>
        <entry>""</entry>
        <entry>PHP_INI_SYSTEM|PHP_INI_PERDIR</entry>
       </row>
        <row>
         <entry>default_mimetype</entry>
         <entry>"text/html"</entry>
         <entry>PHP_INI_ALL</entry>
        </row>
        <row>
         <entry>default_charset</entry>
         <entry>"iso-8859-1"</entry>
         <entry>PHP_INI_ALL</entry>
        </row>
        <row>
         <entry>always_populate_raw_post_data</entry>
         <entry>"0"</entry>
         <entry>PHP_INI_SYSTEM|PHP_INI_PERDIR</entry>
        </row>
        <row>
         <entry>allow_webdav_methods</entry>
         <entry>"0"</entry>
         <entry>PHP_INI_SYSTEM|PHP_INI_PERDIR</entry>
        </row>
       </tbody>
      </tgroup>
     </table>
    </para>
    <para>
    Voici un &eacute;claircissement sur ces directives. 
     <variablelist>
      <varlistentry id="ini.track-vars">
       <term>
        <parameter>track_vars</parameter>
        <type>bool</type>
       </term>
       <listitem>
        <para>
         Si activ&eacute;, les variables de l'environnement, GET, POST, Cookie et 
         du serveur sont disponibles respectivement dans les tableaux associatifs
         <varname>$_ENV</varname>,
         <varname>$_GET</varname>,
         <varname>$_POST</varname>,
         <varname>$_COOKIE</varname> et
         <varname>$_SERVER</varname>.
        </para>
        <para>
         Notez que depuis PHP 4.0.3, 
         <systemitem role="directive">track_vars</systemitem> est toujours
         activ&eacute;e.
        </para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.arg-separator.output">
       <term>
        <parameter>arg_separator.output</parameter>
        <type>string</type>
       </term>
       <listitem>
        <para>
         Le s&eacute;parateur utilis&eacute; par &php; dans les URL g&eacute;n&eacute;r&eacute;es par &php; pour
         s&eacute;parer les arguments.
        </para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.arg-separator.input">
       <term>
        <parameter>arg_separator.input</parameter>
        <type>string</type>
       </term>
       <listitem>
        <para>
         Liste de s&eacute;parateur(s) utilis&eacute; par &php; pour analyser les 
         URL d'entr&eacute;es, et en d&eacute;duire les variables.
        </para>
        <note>
         <para>
          Chacun des caract&egrave;res de cette directive est consdir&eacute; comme
          un s&eacute;parateur.
         </para>
        </note>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.variables-order">
       <term>
        <parameter>variables_order</parameter>
        <type>string</type>
       </term>
       <listitem>
        <para>
         Etablit l'ordre de priorit&eacute; des m&eacute;thodes GET/POST/COOKIE
         et des valeurs issues de l'environnement et du serveur.
         Par d&eacute;faut, cette directive est &eacute;tablie &agrave; "EGPCS". 
         En affectant "GP" &agrave; cette directive, &php; ignorera les cookies, 
         le serveur et l'environnement et &eacute;crasera toute variable issue
         de la m&eacute;thode GET par les valeurs des variables de m&ecirc;me nom,
         issues de la m&eacute;thode POST.
       </para>
        <para>
         Voir aussi <link linkend="ini.register-globals">register_globals</link>.
        </para>
       </listitem>
      </varlistentry>
      <varlistentry id="ini.register-globals">
       <term>
        <parameter>register_globals</parameter>
        <type>bool</type>
       </term>
       <listitem>
        <para>
         Cette option active l'enregistrement des variables EGPCS
         (Environnement, GET, POST, Cookie, Serveur), en tant que
         variables globales. 
         Par exemple, si register_globals = on, l'URL suivante 
         <literal>http://www.example.com/test.php?id=3</literal> va cr&eacute;er 
         la variable <varname>$id</varname> dans votre script. Ou bien,
         <varname>$DOCUMENT_ROOT</varname>, issue de 
         <varname>$_SERVER['DOCUMENT_ROOT']</varname>.
         Vous pouvez d&eacute;sactiver cette fonction
         si vous ne voulez pas truffer vos scripts avec des
         valeurs utilisateurs. 
         Depuis &php; <ulink url="&url.php.release4.2.0;">4.2.0</ulink>,
         cette directive vaut par d&eacute;faut <emphasis>off</emphasis>. Il est recommand&eacute;
         de lire la liste des <link linkend="reserved.variables">Variables pr&eacute;d&eacute;finies</link>,
         pour d&eacute;couvrir les 
         <link linkend="language.variables.superglobals">super-globales</link> :
         <varname>$_ENV</varname>, 
         <varname>$_GET</varname>,
         <varname>$_POST</varname>, 
         <varname>$_COOKIE</varname> et
         <varname>$_SERVER</varname>. 
         Lisez aussi le chapitre sur la s&eacute;curit&eacute; 
         <link linkend="security.registerglobals">Utilisation des variables super-globales</link>
         pour plus de d&eacute;tails.
        </para>
        <para>
         Notez que <systemitem role="directive">register_globals</systemitem>
         ne peut &ecirc;tre modifi&eacute;e durant l'ex&eacute;cution du script (avec <function>ini_set</function>). 
         Cependant, vous pouvez utiliser le fichier <filename>.htaccess</filename> si
         votre h&ocirc;te les supporte, comme d&eacute;crit ci-dessus. Par exemple, vous pouvez
         inscrire dans votre fichier <filename>.htaccess</filename> :
         <userinput>php_flag register_globals on</userinput>.
        </para>
        <note>
         <para>
          <systemitem role="directive">register_globals</systemitem> est combin&eacute; avec
          la directive <link linkend="ini.variables-order">variables_order</link>.
         </para>
        </note>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.register-argc-argv">
       <term>
        <parameter>register_argc_argv</parameter>
        <type>bool</type>
       </term>
       <listitem>
        <simpara>
         Indique &agrave; &php; si il doit d&eacute;clarer les variables argv et
         argc (qui contiendront alors les m&ecirc;mes informations pass&eacute;es 
         par m&eacute;thode GET).
        </simpara>
        <simpara>
         Voir aussi <link linkend="features.commandline">command line</link>.
         De plus, cette directive a &eacute;t&eacute; introduite en PHP 4.0.0 et
         a toujours &eacute;t&eacute; &agrave; "on" jusque la.
        </simpara>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.post-max-size">
       <term>
        <parameter>post_max_size</parameter>
        <type>integer</type>
       </term>
       <listitem>
        <simpara>
         Configure la taille maximale de donn&eacute;es par m&eacute;thode POST.
         Cette configuration affecte aussi le t&eacute;l&eacute;chargement de fichiers.
         Pour autoriser l'upload de grands fichiers, il faut que cette
         configuration soit plus grande encore, et plus grande que
         <link linkend="ini.upload-max-filesize">upload_max_filesize</link>.
        </simpara>
        <simpara>
         Si la limitation de m&eacute;moire est activ&eacute;e dans votre script de configuration
         <link linkend="ini.memory-limit">memory_limit</link> va aussi affecter
         le t&eacute;l&eacute;chargement de fichiers. En g&eacute;n&eacute;ral, 
         <link linkend="ini.memory-limit">memory_limit</link> doit &ecirc;tre plus
         grand que <parameter>post_max_size</parameter>.
        </simpara>
       </listitem>
      </varlistentry>

       <varlistentry id="ini.gpc-order">
       <term>
        <parameter>gpc_order</parameter>
        <type>string</type>
       </term>
       <listitem>
       <para>
        Cette directive est obsol&egrave;te. Voyez plut&ocirc;t 
        <link linkend="ini.variables-order">variables_order</link>.
       </para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.auto-append-file">
       <term>
        <parameter>auto_append_file</parameter>
        <type>string</type>
       </term>
       <listitem>
        <para>
         Sp&eacute;cifie le nom d'un fichier qui sera automatiquement ajout&eacute;
         apr&egrave;s le fichier principal. Le fichier est inclus comme s'il avait
         &eacute;t&eacute; appel&eacute; avec la fonction <function>include</function>,
         donc <link linkend="ini.include-path">include_path</link> est utilis&eacute;.
        </para>
        <para>
         Le mot r&eacute;serv&eacute; <systemitem class="constant">NONE</systemitem>
         d&eacute;sactive l'auto-appending.
        </para>
        <note>
         <para>
          Si le script s'arr&ecirc;te par la fonction <function>exit</function>,
          auto-append <emphasis>ne fonctionnera pas</emphasis>.
         </para>
        </note>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.auto-prepend-file">
       <term>
        <parameter>auto_prepend_file</parameter>
        <type>string</type>
       </term>
       <listitem>
        <para>
         Sp&eacute;cifie le nom d'un fichier qui sera automatiquement ajout&eacute;
         avant le fichier principal. Le fichier est inclus comme s'il avait
         &eacute;t&eacute; appel&eacute; avec la fonction <function>include</function>,
         donc <link linkend="ini.include-path">include_path</link> est utilis&eacute;.
        </para>
        <para>
         Le mot r&eacute;serv&eacute; <systemitem class="constant">none</systemitem>
         d&eacute;sactive l'auto-appending.
         </para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.default-mimetype">
       <term>
        <parameter>default_mimetype</parameter>
        <type>string</type>
       </term>
       <listitem>
        <para>
        </para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.default-charset">
       <term>
        <parameter>default_charset</parameter>
        <type>string</type>
       </term>
       <listitem>
        <para>
         Depuis la version 4.0b4, &php; fournit toujours une indication
         du jeu de caract&egrave;res pour les fichiers g&eacute;n&eacute;r&eacute;s, dans l'ent&ecirc;te HTTP
         <literal>Content-type</literal>. Pour d&eacute;sactiver l'envoi de cette
         indication, laissez cette directive vide.
        </para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.always-populate-raw-post-data">
       <term>
        <parameter>always_populate_raw_post_data</parameter>
        <type>bool</type>
       </term>
       <listitem>
        <para>
         Force le remplissage de la variable <varname>$HTTP_RAW_POST_DATA</varname>.
        </para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.allow-webdav-methods">
       <term>
        <parameter>allow_webdav_methods</parameter>
        <type>bool</type>
       </term>
       <listitem>
        <para>
         Cette directive autorise la gestion de requ&ecirc;tes HTTP WebDAV par &php; : 
         PROPFIND, PROPPATCH, MOVE, COPY, etc... Si vous voulez les donn&eacute;es
         post&eacute;es par ces requ&ecirc;tes, vous devez aussi activer
         <link linkend="ini.always-populate-raw-post-data">always_populate_raw_post_data</link>.
        </para>
       </listitem>
      </varlistentry>
     </variablelist>
    </para>
    <para>
     Voir aussi 
     <link linkend="ini.magic-quotes-gpc">magic_quotes_gpc</link>,
     <link linkend="ini.magic-quotes-runtime">magic-quotes-runtime</link> et
     <link linkend="ini.magic-quotes-sybase">magic_quotes_sybase</link>.
    </para>
   </sect2>
  <sect2 id="ini.sect.path-directory">
   <title>Dossiers</title>
    <para>
     <table>
      <title>Options de dossiers</title>
      <tgroup cols="3">
       <thead>
        <row>
         <entry>Nom</entry>
         <entry>Par d&eacute;faut</entry>
         <entry>Modifiable</entry>
        </row>
       </thead>
       <tbody>
        <row>
         <entry>include_path</entry>
         <entry>PHP_INCLUDE_PATH</entry>
         <entry>PHP_INI_ALL</entry>
        </row>
        <row>
         <entry>doc_root</entry>
         <entry>PHP_INCLUDE_PATH</entry>
         <entry>PHP_INI_SYSTEM</entry>
        </row>
        <row>
         <entry>user_dir</entry>
         <entry>NULL</entry>
         <entry>PHP_INI_SYSTEM</entry>
        </row>
        <row>
         <entry>extension_dir</entry>
         <entry>PHP_EXTENSION_DIR</entry>
         <entry>PHP_INI_SYSTEM</entry>
        </row>
        <row>
         <entry>cgi.force_redirect</entry>
         <entry>"1"</entry>
         <entry>PHP_INI_SYSTEM</entry>
        </row>
        <row>
         <entry>cgi.redirect_status_env</entry>
         <entry>""</entry>
         <entry>PHP_INI_SYSTEM</entry>
        </row>
        <row>
         <entry>fastcgi.impersonate</entry>
         <entry>"0"</entry>
         <entry>PHP_INI_SYSTEM</entry>
        </row>
       </tbody>
      </tgroup>
     </table>
    </para>
    <para>
    Voici un &eacute;claircissement sur ces directives. 
     <variablelist>
      <varlistentry id="ini.include-path">
       <term>
        <parameter>include_path</parameter>
        <type>string</type>
       </term>
       <listitem>
        <para>
         Sp&eacute;cifie une liste de dossiers, o&ugrave; les fonctions 
         <function>require</function>, <function>include</function> et 
         fopen_with_path() iront chercher les fichiers. Le format est 
         le m&ecirc;me que celui de la variable d'environnement 
         <envar>PATH</envar> : une liste de dossiers, s&eacute;par&eacute;s 
         par des deux points (:) sous UNIX, et par des points virgules (;)
         sous Windows.
        </para>
        <para>
         <example>
          <title>UNIX include_path</title>
          <programlisting role="php.ini">
<![CDATA[
include_path=".:/php/includes"
]]>
          </programlisting>
         </example>
        </para>
        <para>
         <example>
          <title>Windows include_path</title>
          <programlisting role="php.ini">
<![CDATA[
include_path=".;c:\php\includes"
]]>
          </programlisting>
         </example>
        </para>
        <para>
         Utiliser un point (<literal>.</literal>) dans l'include_path
         permet de r&eacute;aliser des inclusions relatives au dossier
         courant.
        </para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.doc-root">
       <term>
        <parameter>doc_root</parameter>
        <type>string</type>
       </term>
       <listitem>
        <para>
         Le dossier racine de &php;. Cette directive n'est utilis&eacute;e que
         si elle est d&eacute;finie. Si &php; est configur&eacute; en
         &safemode;, aucun fichier en dehors de ce dossier ne sera accessible.
 		 Si &php; n'a pas &eacute;t&eacute; compil&eacute; avec l'option FORCE_REDIRECT, vous 
 		 DEVRIEZ utiliser cette option, si vous ex&eacute;cutez &php; en tant que
 		 CGI avec serveur web autre que IIS.
         La solutin alternative est d'utiliser la directive 
         <link linkend="ini.cgi.force-redirect">cgi.force_redirect</link> ci-dessous.
        </para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.user-dir">
       <term>
        <parameter>user_dir</parameter>
        <type>string</type>
       </term>
       <listitem>
        <para>
         R&eacute;pertoire o&ugrave; sont stock&eacute;s les fichiers &php;
         dans le r&eacute;pertoire d'un utilisateur. Par exemple, 
         <literal>public_html</literal>.
        </para>
       </listitem>
      </varlistentry>

     <varlistentry id="ini.extension-dir">
      <term>
       <parameter>extension_dir</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        D&eacute;finit le r&eacute;pertoire dans lequel le PHP doit chercher 
        les extensions lors du chargement dynamique. Voir aussi
        <link linkend="ini.enable-dl">enable_dl</link> et <function>dl</function>.
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.extension">
      <term>
       <parameter>extension</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        D&eacute;finit les extensions qui doivent &ecirc;tre charg&eacute;es lors du
        d&eacute;marrage du PHP.
       </para>
      </listitem>
     </varlistentry>

      <varlistentry id="ini.cgi.force-redirect">
       <term>
        <parameter>cgi.force_redirect</parameter>
        <type>bool</type>
       </term>
       <listitem>
        <para>
         cgi.force_redirect est n&eacute;cesssaire pour assurer la s&eacute;curit&eacute; de
         &php;, lorsqu'il fonctionne en tant que CGI pour la plupart
         des serveurs web. M&ecirc;me si laiss&eacute; vide, &php; va activer cette
         option par d&eacute;faut. Vous pouvez la d&eacute;sactiver 
         <emphasis>&agrave; vos risques et p&eacute;rils</emphasis>.
        </para>
        <note>
         <para>
          Utilisateurs Windows : vous pouvez d&eacute;sactiver cette option sans probl&egrave;me
          avec IIS et en fait, vous DEVEZ la d&eacute;sactiver.
          Pour faire fonctionner OmniHTTPD ou Xitami, vous devrez aussi la d&eacute;sactiver.
         </para>
        </note>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.cgi.redirect-status-env">
       <term>
        <parameter>cgi.cgi.redirect_status_env</parameter>
        <type>string</type>
       </term>
       <listitem>
        <para>
         Si la directive cgi.force_redirect est activ&eacute;e, et que vous ne
         fonctionnez pas sous Apache ou Netscape (iPlanet), vous POURRIEZ
         devoir allouer une variable d'environnement que &php; ira rechercher
         pour s'assurer qu'il peut continuer son ex&eacute;cution.
        </para>
        <note>
         <para>
          Allouer cette variable PEUT causer des probl&egrave;mes de s&eacute;curit&eacute;,
          RENSEIGNEZ VOUS AVANT DE LE FAIRE.
         </para>
        </note>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.fastcgi.impersonate">
       <term>
        <parameter>fastcgi.impersonate</parameter>
        <type>string</type>
       </term>
       <listitem>
        <para>
         FastCGI sous IIS (sur Windows NT) supporte la possibilit&eacute; de
         traiter les tokens de s&eacute;curit&eacute; du client. Cela permet &agrave; IIS de
         d&eacute;finir le contexte de s&eacute;curit&eacute; &agrave; utiliser. mod_fastcgi sous Apache
         ne supporte pas encore cette fonctionnalit&eacute; (17/03/2002).
         Utilisez la valeur de 1 pour l'activer sous IIS. La valeur par
         d&eacute;faut est z&eacute;ro.
        </para>
       </listitem>
      </varlistentry>
     </variablelist>
    </para>
   </sect2>
  <sect2 id="ini.sect.file_uploads">
   <title>File Uploads</title>
    <para>
     <table>
      <title>File Uploads Configuration Options</title>
      <tgroup cols="3">
       <thead>
        <row>
         <entry>Nom</entry>
         <entry>Par d&eacute;faut</entry>
         <entry>Modifiable</entry>
        </row>
       </thead>
       <tbody>
        <row>
         <entry>file_uploads</entry>
         <entry>"1"</entry>
         <entry>PHP_INI_SYSTEM</entry>
        </row>
        <row>
         <entry>upload_tmp_dir</entry>
         <entry>NULL</entry>
         <entry>PHP_INI_SYSTEM</entry>
        </row>
        <row>
         <entry>upload_max_filesize</entry>
         <entry>"2M"</entry>
         <entry>PHP_INI_SYSTEM|PHP_INI_PERDIR</entry>
        </row>
       </tbody>
      </tgroup>
     </table>
    </para>
    <para>
    Voici un &eacute;claircissement sur ces directives. 
     <variablelist>
      <varlistentry id="ini.file-uploads">
       <term>
        <parameter>file_uploads</parameter>
        <type>bool</type>
       </term>
       <listitem>
        <para>
         Cette directive indique si les 
         <link linkend="features.file-upload">t&eacute;l&eacute;chargements de fichiers</link>
         sont support&eacute;s sur le serveur. Voir aussi
         <link linkend="ini.upload-max-filesize">upload_max_filesize</link>,
         <link linkend="ini.upload-tmp-dir">upload_tmp_dir</link> et
         <link linkend="ini.post-max-size">post_max_size</link>.
        </para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.upload-tmp-dir">
       <term>
        <parameter>upload_tmp_dir</parameter>
        <type>string</type>
       </term>
       <listitem>
        <para>
         Indique le r&eacute;pertoire utilis&eacute; lors du chargement d'un fichier sur un
         serveur. Ce r&eacute;pertoire doit &ecirc;tre accessible en lecture pour
         l'utilisateur qui ex&eacute;cute le script &php;, ou par le serveur web.
        </para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.upload-max-filesize">
       <term>
        <parameter>upload_max_filesize</parameter>
        <type>integer</type>
       </term>
       <listitem>
        <para>
         La taille maximale d'un fichier t&eacute;l&eacute;charg&eacute; sur le serveur. 
         La valeur est en octets. Par d&eacute;faut, elle est de 2 m&eacute;ga-octets.
        </para>
       </listitem>
      </varlistentry>
     </variablelist>
    </para>
   </sect2>

  <sect2 id="ini.sql-general">
   <title>Options de SQL</title>
    <para>
     <table>
      <title>Options de SQL</title>
      <tgroup cols="3">
       <thead>
        <row>
         <entry>Nom</entry>
         <entry>Par d&eacute;faut</entry>
         <entry>Modifiable</entry>
        </row>
       </thead>
       <tbody>
        <row>
         <entry>sql.safe_mode</entry>
         <entry>"0"</entry>
         <entry>PHP_INI_SYSTEM</entry>
        </row>
       </tbody>
      </tgroup>
     </table>
    </para>
    <para>
    Voici un &eacute;claircissement sur cette directive. 
     <variablelist>
      <varlistentry id="ini.sql.safe-mode">
       <term>
        <parameter>sql.safe_mode</parameter>
        <type>bool</type>
       </term>
       <listitem>
        <para>
        </para>
       </listitem>
      </varlistentry>
     </variablelist>
    </para>
   </sect2>

   <sect2 id="ini.sect.debugger">
    <title>Configuration des d&eacute;bogeurs</title>
    <variablelist>

     <varlistentry id="ini.debugger.host">
      <term>
       <parameter>debugger.host</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        Nom DNS ou adresse IP de l'h&ocirc;te du d&eacute;bogueur.
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.debugger.port">
      <term>
       <parameter>debugger.port</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        Num&eacute;ro de port du d&eacute;bogueur.
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.debugger.enabled">
      <term>
       <parameter>debugger.enabled</parameter>
       <type>bool</type>
      </term>
      <listitem>
       <para>
        Indique si le d&eacute;bogeur est activ&eacute; ou pas.
       </para>
      </listitem>
     </varlistentry>

    </variablelist>
   </sect2>

  </sect1>
 </chapter>
<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
sgml-parent-document:nil
sgml-default-dtd-file:"../../manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
-->

